.vscode
node_modules
release
data/wai_character_thumbs.json
data/waiIllustriousSDXL_v160_thumbs.json
data/waiNSFWIllustrious_v120_thumbs.json
data/waiNSFWIllustrious_v120_tag_assist.json
data/waiNSFWIllustrious_v120_characters.csv
data/danbooru.csv
data/danbooru_e621_merged.csv
settings/*.json
data/wildcards/wildcardPoses.txt
data/wildcards/wildcardMyFurries.txt
scripts/python/saa-agent/__pycache__
scripts/python/saa-agent/*.png
*.pem
*.log
*.DS_Store
/scripts/python/thumb-generator/__pycache__
/scripts/python/thumb-generator/data
/scripts/python/thumb-generator/output
/scripts/python/thumb-generator/output_thumb
/scripts/python/thumb-generator/output_thumb_rework
/scripts/python/thumb-generator/output_thumb_new
/scripts/python/thumb-compare/__pycache__
/scripts/python/thumb-compare/thumb_image_anima
/scripts/python/thumb-compare/thumb_image_v160
/scripts/python/thumb-compare/thumb_image_v120
/scripts/python/thumb-compare/data/*.json
/scripts/python/thumb-compare/data/*.csv
/scripts/python/thumb-compare/data/*.txt
/scripts/python/thumb-compare/output/*.json
/scripts/python/thumb-compare/output/*.csv
/scripts/python/thumb-compare/output/*.txt

data/waiANIMA_v10Base10_thumbs.json
